
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-5 text-center">
            <img src="~/Image/img/avatar.jpg" />
            <p style="color:dimgray;font-size:17px; font-family:'Comic Sans MS', cursive, sans-serif">Phạm Ngọc Toàn - 1998</p>
            <p style="color:dimgray;font-size:17px; font-family:'Comic Sans MS', cursive, sans-serif">Học Viện Kỹ Thuật Quân Sự</p>
        </div>
        <div class="col-7" style="padding-top:15px">
            <p style="color:dimgray;font-size:27px; font-family:'Comic Sans MS', cursive, sans-serif">Blog này được ra đời trong một nỗ lực ghi nhớ những kiến thức mình thu được trong quá trình học đại học. Các bài viết được viết theo ý hiểu của bản thân mình, chỉ nhằm mục đích lưu trữ và chém gió, không có tính tham khảo :D</p>
        </div>
    </div>
</div>

<script>

    $(function () {
        $("#liAbout").addClass("active")
    })
</script>